.packagesSection {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 100px;
  padding-top: 20px;

  .packagesSectionTitle {
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .packagesSecCTA {
      text-decoration: none;
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 44px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      padding: 0px 20px;

      background: var(--secondary-color);
      border-radius: 100px;

      color: #ffffff;
    }

    .avTickets {
      img {
        margin-right: 10px;
      }
      margin-top: 10px;
      font-weight: 700;
      font-size: 16px;
      line-height: 19px;
      display: flex;
      align-items: center;
      text-align: center;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      color: #3f3f3f;
    }

    .LuthonSouthard {
      font-family: "Luthon Southard Script";
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 81px;
      text-align: center;

      color: var(--primary-color);
    }

    .subtitlePack {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      /* identical to box height */
      margin-top: -40px;
      margin-bottom: 20px;
      letter-spacing: 0.2em;
      text-transform: uppercase;

      color: #3f3f3f;
    }
  }

  .pricingCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    gap: 30px;

    li {
      text-align: center;
      border-radius: 0.5em;
    }

    .packageTitle {
      .LuthonSouthard {
        position: relative;
        line-height: 0;
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 11px;
        text-align: center;

        color: #ffffff;
      }

      .title {
        font-style: normal;
        font-weight: 700;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: white;
        margin-right: auto;
      }

      .subTitle {
        font-style: normal;
        font-weight: 400;
        font-size: 30px;
        line-height: 36px;
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: white;
      }
    }
  }
}
