.letterCard {

    border: 2px solid red;
    width: 278px;
    height: 351px;
    

    .rec1 {
        width: 278px;
        height: 267px;
        position: relative;
        z-index: 3;
        background: #C6C6C6;
        /* #C4C4C4 - Mid Grey 3 */

        border: 1px solid #C4C4C4;
        box-sizing: border-box;
        border-radius: 20px;
    }

    .rec2 {
        position: relative;
        z-index: 2;
        width: 176px;
        height: 176px;
        right: 75px;
        bottom: 120px;
        background: #FDBE3D;
        border-radius: 20px;
        transform: rotate(-64.84deg);
    }

    .rec3 {
        position: relative;
        width: 146.94px;
        height: 146.94px;
        right: 55px;
        bottom: 350px;
        

        border: 2px solid #01838C;
        box-sizing: border-box;
        border-radius: 15px;
        transform: rotate(-91.95deg);
    }




}