// @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,400&display=swap');



body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}


a {}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


h2 {
    font-size: 2em;
}

.home {}

.main {
    margin: auto;
    margin-bottom: 102px;
    max-width: 1392px;
    height: 711px;
    display: flex;
    align-items: center;
    justify-content: center;



    .mainInner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
    }

    .backgroundImage {
        background-color: #444444;
        border-radius: 20px;
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .mainLogo {
            margin-top: -62px;
            width: 460px;
            height: 440px;

            img {
                width: 100%;
                height: 100%;
                margin: auto;

            }
        }


        .mainCta {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;


            width: 268px;
            height: 58px;
            background: var(--primary-color);
            border-radius: 100px;

            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;

            letter-spacing: 0.2em;
            color: #272727;
            text-decoration: none
        }
    }

    .tab {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 19px 42px;

        width: 85%;
        position: relative;
        height: 116px;
        bottom: 70px;
        background: #01838C;
        border-radius: 20px;
        margin-left: auto;
        margin-right: auto;
    }

}



.explore {
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1235px;
    height: 432px;


    .exploreInner {
        display: flex;
        align-items: center;
        background: #C6C6C6;

        width: 100%;
        height: 100%;
        margin: auto;

        box-sizing: border-box;
        border-radius: 20px;
        z-index: 10000;

        .exploreCard {
            margin-left: auto;
            margin-right: 102px;
        }
    }
}


.about {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -65px;
    height: 558px;
    background: #EAEAEA;



    .aboutInner {
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-wrap: wrap;
        width: 100%;
        margin: auto;
        height: 558px;
        box-sizing: border-box;

        .aboutCard {}
    }
}



.pre {
    margin: auto;
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 357px;
    max-width: 1103px;


    .preInner {
        background: #C6C6C6;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-wrap: wrap;
        width: 100%;
        margin: auto;
        box-sizing: border-box;

        .preCard {
            margin-right: auto;
            margin-left: -132px;
        }
    }
}







.post {
    margin: auto;
    margin-top: 81px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 357px;
    max-width: 1103px;


    .postInner {
        background: #EAEAEA;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        border-radius: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        // flex-wrap: wrap;
        width: 100%;
        margin: auto;
        box-sizing: border-box;

        .postCard {
            margin-left: auto;
            margin-right: -132px;
        }
    }
}





.letterSection {
    max-width: 1203px;
    height: 351px;
    margin: auto;
    margin-top: 81px;


    display: flex;
    align-items: center;
    justify-content: space-around;

    .letterSectionBody {
        height: 100%;
        max-width: 701px;

        .title {
            font-style: normal;
            font-weight: 700;
            font-size: 25px;
            line-height: 30px;
            /* identical to box height */

            letter-spacing: 0.2em;
            text-transform: uppercase;

            color: #1C1C1C;
        }

        .body {
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 18px;

            color: #313030;
        }
    }
}


.schedule {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 81px;
    background: var(--secondary-color);
    height: 1192px;
    width: 100%;

    .scheduleHeader {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 71px;

        .scheduleTitle {
            text-align: center;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 48px;
            /* identical to box height */

            letter-spacing: 0.2em;
            text-transform: uppercase;

            color: #FFFFFF;
        }


        .scheduleCTA {
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            width: 435px;
            height: 39px;
            font-style: normal;
            font-weight: 700;
            font-size: 15px;
            line-height: 18px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;

            color: #2D2D2D;
            background: #FDBE3D;
            border-radius: 100px;
        }
    }

    .scheduleInner {
        height: 716px;
    }

    .scheduleRow {
        display: flex;

        .scheduleRowTitle {
            width: 198px;
            // border-right: 15px solid var(--primary-color);

            p {

                height: 36px;

                font-style: normal;
                font-weight: 700;
                font-size: 15px;
                line-height: 18px;
                margin: 0;
                letter-spacing: 0.1em;
                text-transform: uppercase;

                color: #FAFAFA;
            }

            .date {
                font-weight: 200;
            }



        }

        .border1 {
            width: 15px;
            background-color: var(--primary-color);
        }


        .description {
            width: 610px;
            margin-left: 65px;
            height: 48px;
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 18px;
            color: #FFFFFF;
        }
    }

    .scheduleRow:first-child {
        .border1 {
            width: 15px;
            background-color: var(--primary-color);
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
        }

    }

    .scheduleRow:last-child {
        .border1 {
            width: 15px;
            background-color: var(--primary-color);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
        }

    }
}

.membersSection {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;


    background: #343131;
    ;

    color: white;
    position: relative;

    .membersSectionTitle {
        display: flex;
        justify-content: center;
        align-items: center;

        flex-direction: column;

        margin: auto;
        margin-bottom: 70px;

        p {
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            letter-spacing: 0.2em;
            text-transform: uppercase;

            color: #FFFFFF;
        }
    }


    .membersList {
        margin: 0;
        padding-left: .1em;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;

        li {
            font-size: 1.1em;
            margin-bottom: 1em;
            margin-left: 2em;
            position: relative;

            &::before {
                content: '';
                left: -2em;
                position: absolute;
                width: 20px;
                height: 20px;
                // background-image: url('../images//bullet.svg');
                background-size: contain;
                margin-right: .5em;
            }
        }
    }




}




.packagesSection {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;


    .packagesSectionTitle {
        margin: auto;
        margin-bottom: 70px;

        p {
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 36px;
            /* identical to box height */

            letter-spacing: 0.2em;
            text-transform: uppercase;

            color: #3F3F3F;
        }
    }


    .pricingCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        gap: 50px;

        li {
            text-align: center;
            // width: 80%;
            // margin: 0 1em;

            border-radius: 0.5em;
        }
    }
}

///contact



.contactSection {
    position: relative;

    .container {
        display: flex;
    }

    .contactRight {
        position: absolute;
        right: 0;
        top: 0;
        width: 45%;
        height: 100%;
    }

}

label {
    display: block;
    font-size: 1.2em;
    margin-bottom: .5em;
}

input,
textarea {
    width: 100%;
    padding: .8em;
    margin-bottom: 1em;
    border-radius: .3em;
    border: 1px solid gray;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 1.3em;
    border: none;
    margin-bottom: 5em;
    border-radius: 5em;
    display: inline-block;
    padding: .8em 2em;
    width: unset;
    cursor: pointer;
}



@media only screen and (max-width: 768px) {


    .packagesSection {
        ul {
            flex-direction: column;

            li {
                width: 80%;
                margin: 0 auto 5em auto;
            }
        }
    }

    ///feat
    .membersSection {
        position: relative;
    }



}

@media only screen and (min-width: 768px) {}




@media only screen and (min-width: 1080px) {

    .container {
        width: 1180px;
        margin: 0 auto;
    }

    section {
        padding: 3em 6em;
    }


}



@media only screen and (max-width: 768px) {

    .container {}

    section {}

    .explore {}



}