.dentalPage {
  .dentalCTA {
    background: #01838c;
    border-radius: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    padding: 17px 50px;
  }

  .dentalCTAButtom {
    margin: auto;
    margin-top: 20px;
  }
  .aboutPageMain {
    display: flex;
    flex-direction: row-reverse;

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-sizing: border-box;
      border-radius: 20px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    body {
      background: #000;
      color: #000;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 500px;
      width: 100%;
    }

    .mySwiper {
      position: relative;
      width: 35%;
      box-sizing: border-box;
    }

    .mySwiper {
      // width: 35%;
      // height: 100%;
      // opacity: 0.4;
      height: 500px;
    }

    .mySwiper .swiper-slide {
      width: 90%;
      // height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .dentalPageSecond {
    margin: auto;
    text-align: justify;
    width: 70%;
    .dentalPageSecondTitle {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .dentalPageSecondTitle1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        width: fit-content;
        line-height: 0px;
      }
      .dentalPageSecondTitle2 {
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        width: fit-content;
        color: #fdbe3d;

        // margin-top: -55px;
        margin-left: 40px;
      }
    }

    .dentalPageSecondBody {
      margin-top: 53px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
  .aboutPage {
  }
}
@media only screen and (max-width: 992px) {
  .aboutPage {
  }
}

@media only screen and (max-width: 768px) {
  .dentalPage {
    .dentalPageSecond {
    
      .dentalPageSecondTitle {
       flex-direction: column;
       gap: 30px;

      }
    }
    .aboutPageMain {
      
      .mySwiper2 {
        height: 250px;
      }

      .mySwiper {
        display: none;
      }
    }

    .dentalPageSecond {
      width: 100%;
    }
  }
}
