.exhangePage {
  .dentalCTA {
    background: #01838c;
    border-radius: 100px;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;

    padding: 17px 50px;
  }

.dentalCTAButtoms{
  margin: auto;
  margin-top: 20px;
  display: flex;
  gap: 51px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

  .dentalCTAButtom {
    // margin: auto;
    background-color: #FDBE3D;
    color: #000;
  }
  .exhangePageMain {
    display: flex;
    flex-direction: row-reverse;

    body {
      background: #000;
      color: #000;
    }

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-sizing: border-box;
      border-radius: 20px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

 

    .swiper {
      width: 100%;
      height: 300px;
      margin-left: auto;
      margin-right: auto;
    }

    .swiper-slide {
      background-size: cover;
      background-position: center;
    }

    .mySwiper2 {
      height: 500px;
      width: 100%;
    }

    .mySwiper {
      position: relative;
      width: 35%;
      box-sizing: border-box;
      height: 500px;

    }


    .mySwiper .swiper-slide {
      width: 90%;
      // height: 100%;
      opacity: 0.4;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .exhangePageSecond {
    margin: auto;
    text-align: justify;
    width: 70%;
    .exchangePageSecondTitle {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .dentalPageSecondTitle1 {
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        width: fit-content;
        line-height: 0px;
        margin-left: 40px;


      }
      .dentalPageSecondTitle2 {
        font-style: normal;
        font-weight: 400;
        font-size: 50px;
        width: fit-content;
        color: #fdbe3d;

        // margin-top: -55px;
        // margin-left: 40px;
      }
    }

    .dentalPageSecondBody {
      margin-top: 53px;
      text-align: center;
    }
  }

  .exchangeSecond{
    .exchangeSecond2{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;

      p{
        width: 60%;
      }
    }

   

    .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      box-sizing: border-box;
      border-radius: 20px;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }


    .swiper-slide {
      background-size: cover;
      background-position: center;
    }


    .mySwiper {
      position: relative;
      width: 50%;
      box-sizing: border-box;
      height: 500px;
    }


    .mySwiper .swiper-slide {
      width: 90%;
      opacity: 1;
    }

    .mySwiper .swiper-slide-thumb-active {
      opacity: 1;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  



  .aboutVen {
    margin-bottom: 50px;
    .aboutVen1 {
      font-style: normal;
      font-weight: 400;
      font-size: 50px;
      line-height: 15px;
      text-align: center;
      color: #01838c;
    }

    .aboutVen2 {
      font-style: normal;
      font-weight: 700;
      font-size: 40px;
      line-height: 28px;
      letter-spacing: 0.2em;
      text-transform: uppercase;
      color: #3f3f3f;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 1200px) {
}

@media only screen and (max-width: 1024px) {
  .aboutPage {
  }
}
@media only screen and (max-width: 992px) {
  .aboutPage {
  }
}

@media only screen and (max-width: 768px) {
  .exhangePage {
    .exhangePageSecond {
      .exchangePageSecondTitle {
        flex-direction: column;
        gap: 30px;
      }
    }
    .exhangePageMain {
      .mySwiper2 {
        height: 250px;
      }

      .mySwiper {
        display: none;
      }
    }

    .exhangePageSecond {
      width: 100%;
    }

    .exchangeSecond{
      .exchangeSecond2{
        display: flex;
        align-items: center;
        justify-content: center;
        
        flex-direction: column;
        height: 700px;
        p{
          margin-top: 30px;
          width: 100%;
        }
      }
  
      .mySwiper {
        position: relative;
        width: 100%;
        box-sizing: border-box;
        height: 500px;

      }

      .mySwiper .swiper-slide {
        width: 80%;
        margin: auto;
        opacity: 1;
      }
  
      .swiper {
        width: 100%;
        // height: 10%;
      }
  

    }
    .aboutVen {
      margin-bottom: 20px;

    }
  }
}
